<section>

 <h3 *ngIf="listPartners.length === 0">Carregando...</h3>
  <div class="table-container" *ngIf="listPartners.length > 0">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Criado</th>
          <th>Name</th>
          <th>Repositório</th>
          <th>Editar</th>
          <th>Deletar</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listPartners | paginate: { itemsPerPage: itemsPerPage, currentPage: page }" >
          <td>{{ item.id }}</td>
          <td>{{convertToPtBrDateFormat(item.createdAt)}}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.repositoryGit }}</td>
          <td><button (click)="redirect(item.id)">Editar</button></td>
          <td><button (click)="deletePartner(item.id)">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  
  <pagination-controls
      (pageChange)="page = $event"
   
    ></pagination-controls> 
  </div>
  
</section>
